<div class="conatiner">
    <div class="header">
        <div class="titles">
            <h3>{{ name }}</h3>
        <h4>{{country}}</h4>
        </div>
        <div class="dates">
            <p>{{ date }} <span>{{ hour }}</span></p>
        </div>
        
    </div>
    
    <div class="row2">
        <div class="temp">
            <p> {{ tmp }}°C</p>
        </div>
        <div class="humidtiy">
            <p> humidité :  {{ humidity }}% </p>
        </div>
        <div class="images">
            <img src="{{ icon }}"/>
        <p>{{ condition }}</p>
        </div>
    </div>
    <div class="row3">
        <div class="images_flag">
            <img src=" https://www.icone-png.com/png/11/10869.png" />
        </div>
        <div class="text">
            <p>Vitesse de vent : {{ wnd_spd }} </p>
            <p>Direction de vent : {{ wnd_dir }}</p>
        </div>
        
       
    </div>
</div>



















